@import "./scss/bootstrap";
@import "./scss/header";
@import "./scss/home";
// Home {
//     min-height: 200px;
//     color: white;
// }
#root {
    display: flex;
    min-height: 1000vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
